<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net20" />
  <package id="NLog" version="2.1.0" targetFramework="net20" />
  <package id="System.Core" version="3.5.21022.801" targetFramework="net20" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net20" />
</packages>