<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="1.2.10" targetFramework="net20" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net20" />
  <package id="System.Core" version="3.5.21022.801" targetFramework="net20" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net20" />
</packages>